<div class="container">
  <h1>List Page</h1>
  <h4><%= @list.name %></h4>

  <% @list.bookmarks.each do |bookmark| %>
    <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %>
  <p><%= link_to "Back to lists", root_path %></P>
</div>
